{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ],
  "env": {
    "dev": {
      "compact": false,
      "minified": false
    }
  },
  "compact": true
}
