@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DINNextLTPro-Condensed';
  src: url('https://map.geoportail.lu/static-ngeo/28867F_0_0.c8a814.woff')
    format('woff');
}

@layer components {
  .lux-primary {
    @apply bg-tertiary text-secondary px-2 py-1.5 uppercase;
  }

  .lux-panel-title {
    @apply text-white text-title-xl uppercase px-3 pt-1.5;
  }
  .lux-bg-sel {
    @apply h-10 w-10 md:h-14 md:w-20 p-0.5 rounded-sm cursor-pointer;
  }
  .lux-bg-sel-icon-bg-length {
    @apply bg-[length:41px_41px] md:bg-[length:90px_50px];
  }
}

@layer base {
  :root {
    --color-primary: 41 128 185;
    --color-secondary: 151 187 211;
    --color-tertiary: 31 93 135;
    --main-primary: 41 128 185;
    --main-secondary: 151 187 211;
    --main-tertiary: 31 93 135;
    --tourisme-primary: 232 76 61;
    --tourisme-secondary: 232 140 131;
    --tourisme-tertiary: 165 15 21;
  }
}
