@tailwind components;

@layer components {
  .ol-outlined {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  .ol-btn {
    @apply bg-white border text-primary py-[6px] px-[12px] hover:bg-primary hover:text-white leading-snug focus:bg-[#e6e6e6] focus:border-[#8c8c8c] focus:[color:var(--color-primary)] focus:ol-outlined;
    border: 1px solid var(--color-gray);
  }

  .ol-control {
    @apply absolute rounded p-1;
  }

  .ol-control button {
    @apply w-10 h-10 text-xl text-center font-normal indent-0 block ol-btn m-[-1px] p-0 border-[1px] border-[color:var(--color-border-default)];
    font-family: 'geoportail-icons-wc';
  }

  .ol-control.active button {
    @apply bg-primary text-white;
  }

  .ol-zoom {
    @apply top-2 left-2;
  }

  .ol-full-screen {
    @apply left-2 top-36 right-auto;
  }

  .ol-zoom-extent {
    @apply left-2 top-[86px];
  }

  .lux-control {
    @apply p-0 right-2 z-[2] border-[color:var(--color-border-default)] border-[1px];
  }

  .geoportailv3-attribution {
    @apply left-0 right-auto bottom-0 mb-0 p-0;
  }

  .geoportailv3-attribution button {
    @apply hidden;
  }

  .geoportailv3-attribution ul {
    @apply list-none p-1 text-sm mb-0;
    color: #6b818f;
  }

  .location-button {
    @apply lux-control;
    bottom: 55px;
  }

  .map-3d-button {
    @apply lux-control;
    bottom: 105px;
  }
}
